body {
  margin: 0;
  background-color: whitesmoke;
  height: 100%;
  font-family: 'Spartan';
}

.home-image {
  height: 40%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.home-page-headline {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Love Ya Like A Sister';
  color: white;
  font-size: 5em;
}

.home-page-ptag {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'courgette';
  font-size: 3em;
  color: white;
}

Button {
  background-color: rgb(32, 40, 41);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}

Button:hover {
  background-color: white;
  color: black;
}