body, html {
  height: 100%;
  font-family: 'Spartan';
}

.home-image {
  background-image: url("./images/dog-on-lead.jpeg");
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}